$green: #4CAF50;
$base-font: 15px;
$tab-font-color: #3a3a3a;
$tab-font-weight: 300;
$tab-active-font-weight: 600;
// Cálculos para que se ajuste perfectamente a la pantalla
$tab-indicator-height: 0.2rem;
$tab-height: 3rem;
$tabs-link-height: $tab-indicator-height + $tab-height;
$base-font-size: 1rem;
$tab-link-space: $base-font-size;

$loader-width: 0.3em;
$loader-dimensions: 4em;

html,body{
  height: 100%;
}

button{
  padding: 1em;
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Arial"; 
}
 
.tabs-container {
  position: relative;
  height: 100%;
  white-space: nowrap; // Para que todo este en una línea
  overflow-x: hidden; // Evitar scroll en la pantalla completa
  user-select: none; 

  .tab-loader {
    display: inline-block;
    position: absolute;
    z-index: 100;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: $loader-dimensions;
    height: $loader-dimensions;
    &:before{
      content: '';
      position: absolute;
      border: $loader-width solid $green;
      border-top: $loader-width solid white;
      border-radius: 50%;
      width: $loader-dimensions;
      height: $loader-dimensions;
      animation: spin 1s linear infinite;
    }
    &.tab-loader-hide{
      display: none;
    }
  }

  .tabs-link {
    font-size: 0; // Eliminar espacio entre pestañas
    //overflow-x: auto; // Scroll para ver todas las pestañas
    color: $tab-font-color;
    font-weight: $tab-font-weight; 
    text-transform: uppercase;
    
    .tab-link {
      line-height: $tab-link-space;
      text-align: center;
      font-size: $tab-link-space;
      display: inline-block;
      padding: 1em;
      cursor: pointer;
      position: relative;
      //white-space: normal;
      vertical-align: middle;

      &.active{
        color: $green;
        font-weight: $tab-active-font-weight; 
      }
    }
 
    .tab-indicator {
      height: $tab-indicator-height;  

      .indicator-helper {
        transform-origin: 0 0;
        width: 1px;
        height: 100%;
        display: inline-block;

        .indicator {
          height: 100%;
          width: 1px;
          background-color: $green;
          display: inline-block;
          @supports (will-change: transform) {
            will-change: transform;
          }
        }

      }
    }

  }

  .tabs-move {
    font-size: 0px; // Eliminar espacio entre pestañas
    height: calc( 100% - #{$tabs-link-height} ); // Calcular altura de las pestañas  
 
    .tab {
      padding: 1em;
      display: inline-block;
      width: 100%;
      height: 100%;
      font-size: $base-font-size;
      white-space: normal;
      vertical-align: top;
      overflow-y: auto; //Scroll individual de cada pestaña

      &:nth-child(odd) {
        background-color: $green;
        color: white; 
      }
    }

    @supports (will-change: transform) {
      will-change: transform;
    }
    
  }
  
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}