html {
  font-family: "Arial"; }

* {
  box-sizing: border-box; }

html, body, table {
  height: 100%;
  margin: 0;
  overflow-y: hidden; }

button {
  padding: 1em; }

.tabs-container {
  transition: transform 0.3s;
  /*display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  flex-direction: column;*/
  /*height: 100%;*/ }
  .tabs-container .tabs-header-container {
    width: 100%;
    transition: transform 0.3s;
    position: fixed;
    top: 0;
    z-index: 500;
    background-color: white; }
    .tabs-container .tabs-header-container .tabs-header {
      padding: 1em;
      display: flex;
      justify-content: space-between;
      background-color: white; }
  .tabs-container .tab-reloader-container {
    position: absolute;
    z-index: 100;
    width: 100%;
    text-align: center;
    z-index: -1;
    bottom: 1em;
    font-size: 14px;
    transform: translateY(0); }
    .tabs-container .tab-reloader-container .tab-reloader {
      background-color: white;
      transform-origin: 50% 50%;
      display: inline-block;
      width: 2.5em;
      height: 2.5em;
      border-radius: 50%;
      background-color: white;
      line-height: 3.25em;
      box-shadow: 0 0.2em 0.5em 0 rgba(0, 0, 0, 0.5); }
      .tabs-container .tab-reloader-container .tab-reloader .tab-reloader-icon {
        opacity: 0.3;
        width: 1.25em;
        height: 1.25em;
        display: inline-block;
        border: 0.15em solid #4CAF50;
        border-radius: 50%;
        border-bottom-color: white;
        position: relative;
        transition: opacity 0.3s; }
        .tabs-container .tab-reloader-container .tab-reloader .tab-reloader-icon.ready-for-reload {
          opacity: 1; }
        .tabs-container .tab-reloader-container .tab-reloader .tab-reloader-icon:before {
          content: '';
          position: absolute;
          bottom: -0.15em;
          border: 0.25em solid #4CAF50;
          transform: rotate(-45deg);
          border-left: none;
          border-top-color: transparent;
          border-bottom-color: transparent;
          right: 0em; }
    .tabs-container .tab-reloader-container.reloading {
      transform: translateY(4em) !important; }
      .tabs-container .tab-reloader-container.reloading .tab-reloader-icon {
        animation: spin 1s linear infinite;
        opacity: 1; }
  .tabs-container .tabs-move-container {
    position: relative;
    /*-webkit-box-flex: 1; 
    flex: 1 0 auto;
    height: 0;*/
    overflow: hidden;
    /*}*/ }
    .tabs-container .tabs-move-container .tabs-move {
      position: relative;
      white-space: nowrap;
      font-size: 0px;
      height: 100%;
      width: 100%;
      will-change: transform; }
      .tabs-container .tabs-move-container .tabs-move .tab {
        vertical-align: top;
        padding: 1em;
        display: inline-block;
        width: 100%;
        height: 100%;
        font-size: 1rem;
        white-space: normal;
        vertical-align: top;
        overflow-y: auto; }
        .tabs-container .tabs-move-container .tabs-move .tab:nth-child(odd) {
          background-color: #4CAF50;
          color: white; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.tabs-link {
  background-color: white;
  font-size: 0;
  color: #3a3a3a;
  font-weight: 600;
  text-transform: uppercase;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  color: rgba(0, 0, 0, 0.4); }
  .tabs-link.equal-tabs .tab-link {
    white-space: normal; }
  .tabs-link .tab-link {
    text-align: center;
    font-size: 1rem;
    display: inline-block;
    padding: 1em;
    cursor: pointer;
    position: relative;
    vertical-align: middle; }
    .tabs-link .tab-link.active {
      color: #4CAF50; }
    .tabs-link .tab-link .tab-link-icon {
      transform: scale(1.5, 1.5);
      display: block; }
    .tabs-link .tab-link .tab-link-text {
      display: block;
      margin-top: 0.5em; }
  .tabs-link .tab-indicator {
    height: 0.2rem; }
    .tabs-link .tab-indicator .indicator-helper {
      transform-origin: 0 0;
      width: 1px;
      height: 100%;
      display: inline-block; }
      .tabs-link .tab-indicator .indicator-helper .indicator {
        height: 100%;
        width: 1px;
        background-color: #4CAF50;
        display: inline-block;
        will-change: transform; }
